<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favourite movies</title>
  <link rel="stylesheet" type="text/css" href="css/styleVue.css">
</head>
<body>
<div id="app">
<h1>Favourite movies</h1>
  <form v-on:submit.prevent="addMovie">
    <label>Add movie: </label>
    <input type="text" v-model="newMovie" placeholder="Name of movie">
    <button>Add</button>
  </form>
  <h2>{{newMovie}}</h2>
  <ul>
    <li v-for="(Movie, index) in MovieArray" :class="{MovieFavorite: Movie.favorite}">
      {{Movie.name}}
      <button @click="deleteMovie(index)">Delete</button>
      <button @click="makeMovieFavorite(Movie)">Make favorite</button>
    </li>
  </ul>
</div>

<script src="https://unpkg.com/vue@3"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        newMovie: '',
        MovieArray: [
          {
            id: 1,
            name: 'Star wars',
            favorite: false
          },
          {
          id: 2,
            name: 'Divergent',
            favorite: false
          }
        ],
        nextMovieId: 3
      }
    },
    methods:{
      addMovie(){
        this.MovieArray.push({
                  id: this.nextMovieId++,
                  name: this.newMovie
                }
        )
      },
      deleteMovie(MovieIndex){
        this.MovieArray.splice(MovieIndex, 1)
      },
      makeMovieFavorite(MovieMark){
        MovieMark.favorite = true

      }
    }
  }).mount('#app')
</script>
</body>
</html>